@import './../../colors.scss';

.history {
    background-color: $primary-color;
    color: white;

    .headerWrapper {
        margin: 20px;
    }

    .searchWrapper {
        margin: 20px;
    }

    .tabWrapper {
        overflow-y: scroll;
        max-height: calc(100vh - 180px);
    }

    .spinnerWrapper {
        display: flex;
        flex: 1;
        height: 200px;
        align-items: center;
        justify-content: center;
    }
}
