@import './colors.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $mat-black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
    transition: all 0.5s;
}

button {
    border: none;
    background-color: transparent;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 6px;

    transition: all 0.5s;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.4);
    }

    &:focus {
        outline: none;
    }

    &.btn-round {
        border-radius: 50%;
    }
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    li {
        padding: 0px;
        margin: 0px;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray-200;
}
